 <!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.onlyfans/kirill.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Only Fans</title>
<style>
body {
background: #F2F2F2;
max-width: 900px;
margin: 10px auto;
padding: 30px;
}
 
h1{
color: #4C4C4C;
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: 2px solid #BEBEBE;
}
p{
font:italic;
}
</style>
</head>
<body>
<h1>Это официальная страница OnlyFans</h1>  
<p>Донат -</p>
<p>Второй абзац</p>
<p>Третий абзац и т. д.</p>

<div>
<div></div><iframe src="file:///C:/Users/GameMaster/Downloads/Untitled.mp333.mp49.gif" style="height:100%;width:100%;position:absolute;top:350px;bottom:150px;">&lt;/div&gt; </iframe>
 </div>
 

 
 
</body>
</html>
